BasedOnStyle: LLVM
Language: Cpp
ColumnLimit: 100
IndentWidth: 2
TabWidth: 2
UseTab: Never
AlignTrailingComments: true
SpacesBeforeTrailingComments: 2
AllowShortFunctionsOnASingleLine: Empty
IndentCaseLabels: true
SortIncludes: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterNamespace: true
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  AfterUnion: false
  AfterControlStatement: false
  BeforeElse: false
  BeforeCatch: false
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
